@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Aboreto&family=Libre+Baskerville&display=swap");

:root {
  font-family: "Hachi Maru Pop", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Aboreto", sans-serif;
  margin-bottom: 50px;
  font-size: 2rem;
  height: 40px;
}

.fade-out {
  animation: fadeOut 2s;
}

.game-board {
  display: grid;
  grid-template: 125px 125px 125px / 125px 125px 125px;
}

.grid {
  border: 1px solid black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-0 {
  border-left: none;
  border-top: none;
}

.grid-1 {
  border-top: none;
}

.grid-2 {
  border-top: none;
  border-right: none;
}

.grid-3 {
  border-left: none;
}

.grid-5 {
  border-right: none;
}

.grid-6 {
  border-left: none;
  border-bottom: none;
}

.grid-7 {
  border-bottom: none;
}

.grid-8 {
  border-bottom: none;
  border-right: none;
}

.reset-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.reset {
  font-size: 2rem;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Libre Baskerville", sans-serif;
  background-color: rgb(234, 197, 252);
  display: none;
}

.show-reset {
  display: block;
  animation: fadeIn 3s;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.color-win {
  background-color: rgba(212, 250, 223, 0.374);
}
